.theater-image {
  width: 100%;
  height: 500px;
  padding-top: 4px;
}

.panel {
  color: rgb(75, 90, 90);
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 4px solid rgb(180, 0, 0);
  margin-top: 4px;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 40px;
}

.second-title {
  font-weight: bold;
  font-size: 32px;
  color: lightcoral;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a04545;
}
